.note-body {
  width: 100%;
  border: 0;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.note-title {
  background: transparent;
  color: inherit;
  border: 0;
  flex-grow: 1;
}
