@import "~styles/colors";

.create-new-container {
  margin: 20px;
  text-align: right;
}

.note-body-scrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes-container {
  list-style: none;
  padding: 0;
}

.note {
  transition: box-shadow 0.3s, filter 0.3s;
  &:hover {
    box-shadow: 12px 12px 12px 0px $clr-shadow;
    filter: brightness(1.03);
  }
}

.btn-remove-note {
  font-size: 24px;
  color: darken($clr-primary, 15%);

  &:hover {
    color: darken($clr-primary, 5%);
  }
}
