@import "~styles/colors";

.create-new-container {
  margin: 20px;
  text-align: right;
}

.note-body-scrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes-container {
  list-style: none;
  padding: 0;
}
