<div class="create-new-container">
  <a class="btn primary" routerLink="create">
    <em class="mdi mdi-note-plus"></em>
    Create New</a>
</div>

<ul *ngFor="let note of notes" class="notes-container">
  <li class="card">
    <header class="card-header">
      <h4 class="card-title">
        {{ note.title }}
      </h4>
    </header>
    <div class="card-content note-body-scrap">
      {{ note.body }}
    </div>
    <footer class="card-footer">
      <a [routerLink]="['edit', note.id]" class="btn default m-r">
        <em class="mdi mdi-file-edit"></em>
        Edit</a>
      <button (click)="delete(note.id)" class="btn danger">
        <em class="mdi mdi-delete"></em>
        Delete
      </button>
    </footer>
  </li>
</ul>
