<ng-container *ngIf="toast">
  <div class="toast-content">
    <em [class]="toast.viewOptions.iconClass+' ' + toast.viewOptions.colorClass + ' toast-type-icon'"></em>
    <div>
      <div [class]="'toast-title '+ toast.viewOptions.colorClass">
        {{ toast.dataOptions.title}}
      </div>
      <div class="toast-body">
        {{ toast.dataOptions.body }}
      </div>
    </div>
    <button (click)="handleRemove()" class="btn inline btn-close">
      <em class="mdi mdi-close"></em>
    </button>
  </div>
</ng-container>

