<ng-container *ngIf="toastOptions">
  <div class="toast-content">
    <em [class]="toastOptions.view.iconClass+' ' + toastOptions.view.colorClass + ' toast-type-icon'"></em>
    <div>
      <div [class]="'toast-title '+toastOptions.view.colorClass">
        {{ toastOptions.data.title}}
      </div>
      <div class="toast-body">
        {{ toastOptions.data.body }}
      </div>
    </div>
    <button (click)="handleRemove()" class="btn inline btn-close">
      <em class="mdi mdi-close"></em>
    </button>
  </div>
</ng-container>

