/* You can add global styles to this file, and also import other style files */
@import "~styles/variables";
@import "~styles/colors";
@import "~styles/fonts";
@import "~styles/utils";
@import "~styles/buttons";

body {
  margin: 0;
  font-family: $text-font;
  color: #555;
}
