/* You can add global styles to this file, and also import other style files */
@import "~styles/mixins";
@import "~styles/variables";
@import "~styles/colors";
@import "~styles/fonts";
@import "~styles/utils";
@import "~styles/typography";
@import "~styles/buttons";
@import "~styles/card";

@import"~@mdi/font/css/materialdesignicons.min.css";

@import "~@angular/cdk/overlay";
@include cdk-overlay();

$clr-gradient-edge: darken($clr-page-bg, 5%);
$clr-gradient-middle: $clr-page-bg;

body {
  margin: 0;
  font-family: $font-text;
  background-color: $clr-page-bg;
  margin: 0;
  width: 100%;
  background: linear-gradient(90deg, $clr-gradient-edge 0%, $clr-gradient-middle 30%, $clr-gradient-middle 70%, $clr-gradient-edge 100%);
}
