$border-radius: 2px;
$border-width: 1px;
$animation-time: 0.3s;
$clr-btn-text: #e8e8e8;
$clr-btn-text-hover: #f8f8f8;
$vertical-padding: 10px;
$horizontal-padding: 15px;
$font-size: 16px;
$label-padding: 12px;

@mixin custom-button($color) {
  background-image: linear-gradient(to right, $color, lighten($color, 10%));

  &:not([disabled])::before {
    @include clr-soft-radial-gradient($color);
  }
}

@mixin custom-button-outlined($color) {
  color: $color;
  border: $border-width solid $color;

  &:not([disabled])::before {
    @include clr-soft-radial-gradient($color);
  }

  &:not([disabled]):hover {
    color: #f8f8f8;
  }
}

.btn {
  padding: $vertical-padding $horizontal-padding;
  border: 0;
  border-radius: $border-radius;
  text-decoration: none;
  box-shadow: none;
  font-family: $font-primary;
  font-size: $font-size;
  font-weight: 600;
  color: $clr-btn-text;
  min-width: 120px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  transition: border $animation-time, color $animation-time;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  overflow: hidden;

  &:not([disabled]):hover {
    cursor: pointer;
    color: $clr-btn-text-hover;
  }

  &:hover::before {
    opacity: 1;
  }

}

.btn.labeled {
  text-align: left;
  padding-left: $font-size + 3*$label-padding;

  & > .mdi {
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: $vertical-padding $label-padding;
    text-align: center;
  }
}

.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity $animation-time linear;
  opacity: 0;
  border: $border-width solid transparent;
  border-radius: $border-radius -1;
}

.btn.outlined {
  background: transparent;
}

.btn.default {
  @include custom-button($clr-default);

}

.btn.primary:not(.outlined) {
  @include custom-button($clr-primary);
}

.btn.primary.outlined {
  @include custom-button-outlined($clr-primary);
}

.btn.info:not(.outlined) {
  @include custom-button($clr-info);
}

.btn.info.outlined {
  @include custom-button-outlined($clr-info);
}

.btn.success:not(.outlined) {
  @include custom-button($clr-success);
}

.btn.success.outlined {
  @include custom-button-outlined($clr-success);
}

.btn.link:not(.outlined) {
  @include custom-button($clr-link);
}

.btn.link.outlined {
  @include custom-button-outlined($clr-link);
}

.btn.danger:not(.outlined) {
  @include custom-button($clr-danger);
}

.btn.danger.outlined {
  @include custom-button-outlined($clr-danger);
}

.btn.warning:not(.outlined) {
  @include custom-button($clr-warning);
}

.btn.warning.outlined {
  @include custom-button-outlined($clr-warning);
}

.btn[disabled] {
  opacity: 0.65;

  &:hover {
    cursor: default;
  }
}
