$clr-topbar: burlywood;

$clr-border: #b1b1b1;

$clr-default: #929292;
$clr-primary: #d99134;
$clr-info: #078ffe;
$clr-success: #31b137;
$clr-warning: rgb(252, 140, 49);
$clr-danger: #ed3131;
$clr-link: #3273dc;
