:host {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  pointer-events: none;

  &.top-right {
    top: 5px;
    right: 5px;
  }

  &.top-left {
    top: 5px;
    left: 5px;
  }

  &.bottom-right {
    bottom: 5px;
    right: 5px;
  }

  &.bottom-left {
    bottom: 5px;
    left: 5px;
  }
}
