@import "~styles/colors";
@import "~styles/variables";

.create-new-container {
  margin: 20px;
  text-align: right;
}

.note-body-scrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes-container {
  list-style: none;
  padding: 0;
}

.note {
  transition: box-shadow 0.3s, filter 0.3s;
  &:hover {
    box-shadow: 12px 12px 12px 0px $clr-shadow;
    filter: brightness(1.03);
  }
}

.no-notes-container {
  color: $clr-text-inverse;
  font-size: 32px;
  font-family: $font-primary;
  text-align: center;
  margin: 50px auto;

  &> small {
    color: darken($clr-text-inverse, 10%);
  }
}
